.sidebar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
  }

  .messages::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
  }

  @keyframes flash {
  0% {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  50% {
    transform: translateX(50%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(200%);
    opacity: 0.1;
  }
}

.loading-flash {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: flash 1.5s infinite;
  z-index: 5; /* Ensure it's above the background but below text */
}
